<a href="https://colab.research.google.com/github/Priyadarshini-yadav13/Rashmi/blob/main/Assignment_on_basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###PYTHON PROGRAMMING BASICS ASSIGNMENT
Problem Statement:
This assignment aims to develop foundational skills in Python programming, covering essential concepts like Lists, Tuples, Dictionaries, Sets, Conditional Statements (if-else), Loops (for and while), and loop control statements (break and continue). By completing this assignment, students will gain hands-on experience in basic Python programming constructs necessary for problem-solving and data handling.
Guidelines:
1. Foundational Knowledge:
Understand the differences between Lists, Tuples, Dictionaries, and Sets.
Learn how to apply if-else statements for decision-making.
Use loops effectively for iterating over sequences.
Understand the role of break and continue in loop control.
2. Data Exploration:
Create and manipulate Lists, Tuples, Dictionaries, and Sets.
Use indexing and slicing to access elements.
Perform operations like adding, removing, and updating elements.
3. Control Flow and Loops:
Apply if-else statements to solve logical problems.
Use for and while loops to iterate through sequences.
Implement break and continue statements to control loop execution.
Step-by-Step Approach to Python Programming Basics:
1. Setup and Basic Operations:
Install and set up Python.
Use print() and input() functions.
Assign values to variables and explore different data types.
2. List Operations:
Create a list and perform basic operations like append(), remove(), pop(), and slicing.
Iterate over a list using loops.

3. Tuple Operations:
Create and access tuple elements.
Understand the immutability of tuples.
Use tuple unpacking.
4. Dictionary Operations:
Create a dictionary with key-value pairs.
Perform operations like adding, updating, and deleting key-value pairs.
Iterate through a dictionary using loops.
5. Set Operations:
Create a set and perform operations like union, intersection, and difference.
Understand the uniqueness property of sets.
6. Conditional Statements:
Implement if-else conditions for decision-making.
Use nested if-else conditions for complex logic.
7. Looping Constructs:
Use for loops to iterate over lists, tuples, and dictionaries.
Use while loops for repeating tasks.
Implement break and continue statements to control loops.
8. Problem-Solving Tasks:
Write a Python program to find the largest number in a list.
1-Write a Python program to count the frequency of elements in a list.
2-Create a dictionary that stores student names as keys and marks as values, then find the student with the highest marks.
3-Implement a while loop to print the Fibonacci series up to a given number.
4-Use a set to remove duplicate elements from a list.
Dataset for Practice:
While this assignment focuses on Python basics, students can use small sample datasets manually created in dictionaries or lists for practice. Examples:
A dictionary of student names and marks.
A list of numbers for performing mathematical operations.

In [165]:
### Print function
print("i_am_priyadarshini.")

i_am_priyadarshini.

### we can use '' also

In [166]:
print('i_am_priyadarshini.')

i_am_priyadarshini.

In [167]:
### Input function

###input() asks the user to type something and gives you their answer as text.

In [168]:
age = input("How old are you? ")
print("Next year you'll be", int(age) + 1)

How old are you? 25
Next year you'll be 26

In [169]:
standard=input("what is your standard? ")
print("Next year you will be in", int(standard)+1)

what is your standard? 6
Next year you will be in 7

In [170]:
##Numeric addition
num1 = float(input("First number: "))
num2 = float(input("Second number: "))
print("Sum:", num1 + num2)

First number: 2
Second number: 3
Sum: 5.0

... Different data types-float,integer,boolean,string

In [171]:
## Data type
Name="Priyadarshini"
print(Name)
print(type(Name))

Priyadarshini
<class 'str'>

In [172]:
## Data type
speed=40
print(speed)
print(type(speed))

40
<class 'int'>

In [173]:
## Data type
weight=50.8
print(weight)
print(type(weight))

50.8
<class 'float'>

In [174]:
### Datatype
is_spam=True
print(is_spam)
print(type(is_spam))

True
<class 'bool'>

In [175]:
### Datatype
is_spam=False
print(is_spam)
print(type(is_spam))

False
<class 'bool'>

We always need a "" for string.

In [176]:
'''
List ->
Heterogenous (Elements of different data types are allowed),
Mutable (Can edit the values),
Allow duplicate values,
Ordered (The sequence in which we give the data, it is preserved)

Lists can be declared with [] or list()
'''

'\nList ->\nHeterogenous (Elements of different data types are allowed),\nMutable (Can edit the values),\nAllow duplicate values,\nOrdered (The sequence in which we give the data, it is preserved)\n\nLists can be declared with [] or list()\n'

In [177]:
## Creating a list
list=[1,2.5,True,"Priya"]
print(list)
print(type(list))

[1, 2.5, True, 'Priya']
<class 'list'>

## It is Heterogenous (Elements of different data types are allowed)

In [178]:
## Property no 2-->Mutable (Can edit the values)
list=[1,2.5,True,"Priya"]
print(list)
list[2]=False
print(list)

[1, 2.5, True, 'Priya']
[1, 2.5, False, 'Priya']

In [179]:
## Property no 3-->Allow duplicate values
list=[1,2.5,True,"Priya",2.5]
print(list)

[1, 2.5, True, 'Priya', 2.5]

In [180]:
## Property no 4-->Ordered (The sequence in which we give the data, it is preserved)
list=[1,2.5,True,"Priya"]
print(list)

[1, 2.5, True, 'Priya']

In [181]:
## indexing
list=[1,2.5,True,"Priya"]
print(list[0])
print(list[3])

1
Priya

##in python indexing starts from 0..

In [182]:
## Negative indexing
list=[1,2.5,True,"Priya"]
print(list[-1])
print(list[-4])

Priya
1

In [183]:
## # Slicing -> used to get range of values
list=[1,2.5,True,"Priya"]
print(list[0:3])

[1, 2.5, True]

In [184]:
'''
ls[start : stop] ->
we extract elements from starting index till stopping index but not stopping index
'''

'\nls[start : stop] ->\nwe extract elements from starting index till stopping index but not stopping index\n'

In [185]:
list=[1,2.5,True,"Priya"]
print(list[0:2])

[1, 2.5]

In [186]:
# Element at stopping index is not included

In [187]:
list=['Priya','Sona','Peehu','Ayraa']
print(list[0:2])

['Priya', 'Sona']

In [188]:
list=['Priya','Sona','Peehu','Ayraa']
print(list[-3:-1])

['Sona', 'Peehu']

In [189]:
### one possitive and one negative index
list=['Priya','Sona','Peehu','Ayraa']
print(list[-4:2])

['Priya', 'Sona']

In [190]:
# append() -> used to insert a single element at the rightmost end
a=[1,2.5,True,"Priya"]
print("Actual list :", a)
a.append('Ayraa')
print("Updated list :", a)

Actual list : [1, 2.5, True, 'Priya']
Updated list : [1, 2.5, True, 'Priya', 'Ayraa']

In [191]:
# extend() -> used to insert multiple elements simultaneously at the rightmost end
a=[1,2.5,True,"Priya"]
print("Actual list :", a)
a.extend(['Ayraa','nitya','Anaya'])
print("Updated list :", a)

Actual list : [1, 2.5, True, 'Priya']
Updated list : [1, 2.5, True, 'Priya', 'Ayraa', 'nitya', 'Anaya']

In [192]:
# insert(index, element) -> used to insert a single element at a particular position
a=[1,2.5,True,"Priya"]
print("Actual list :", a)
a.insert(2,'Ayraa')
print("Updated list :", a)

Actual list : [1, 2.5, True, 'Priya']
Updated list : [1, 2.5, 'Ayraa', True, 'Priya']

In [193]:
# pop() -> used to remove the element at the rightmost end
a = [1, 5.0, True, 'Python']
print('Actual List :', a)
a.pop()
print('Updated List :', a)

Actual List : [1, 5.0, True, 'Python']
Updated List : [1, 5.0, True]

In [194]:
# remove() -> removes the first occurence of a particular element
a = [True, 1, 5.0, True, 'Python']
print('Actual List :', a)
a.remove(True)
print('Updated List :', a)

Actual List : [True, 1, 5.0, True, 'Python']
Updated List : [1, 5.0, True, 'Python']

In [195]:
##Iterate over a list using loops.
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

apple
banana
orange

A few functions that are used in the list are:
- append
- extend
- remove
- pop

In [196]:
'''
Tuples ->
Heterogenous (Elements of different data types are allowed),
Immutable (Cannot edit the values),
Allow duplicate values,
Ordered (The sequence in which we give the data, it is preserved)

Tuples can be declared with () or tuple()
'''

'\nTuples ->\nHeterogenous (Elements of different data types are allowed),\nImmutable (Cannot edit the values),\nAllow duplicate values,\nOrdered (The sequence in which we give the data, it is preserved)\n\nTuples can be declared with () or tuple()\n'

In [197]:
### Creating tuple
b=(3,3.5,True,"Priya")
print(b)
print(type(b))

(3, 3.5, True, 'Priya')
<class 'tuple'>

In [198]:
### Creating tuple
b=(3,3.5,True,"Priya")
print(b)
print(type(b))

(3, 3.5, True, 'Priya')
<class 'tuple'>

In [199]:
## Property 1 is satisfied as it contains all dataform.

In [200]:
## property 2 --> it is immutable.
b=(3,3.5,True,"Priya")
print(b)
b[2]=False
print(b)

(3, 3.5, True, 'Priya')

TypeError: 'tuple' object does not support item assignment

## shows it doesnt support editing.

In [201]:
## property 3 --> it is allow duplicate value.
b=(3,3.5,True,"Priya",3)
print(b)

(3, 3.5, True, 'Priya', 3)

In [202]:
## property 4--> it reserve the sequence .
b=(3,3.5,True,"Priya")
print(b)

(3, 3.5, True, 'Priya')

In [204]:
### Indexing
b=(3,3.5,True,"Priya")
print(b[0])
print(b[3])

3
Priya

In [205]:
##negative indexing
b=(3,3.5,True,"Priya")
print(b[-1])
print(b[-4])

Priya
3

In [206]:
### slicing
b=(3,3.5,True,"Priya")
print(b[0:3])

(3, 3.5, True)

###Tuple unpacking assigns tuple elements to variables using commas,matching the number and order of items for clean, readable code.

In [207]:
###Basic Unpacking-Match variables exactly to tuple length.
point = (10, 20)
x, y = point
print(x, y)

10 20

In [208]:
## More example
a=(1,2,3)
x,y,z=a
print(x,y,z)

1 2 3

In [209]:
'''
Sets ->
Heterogenous (Elements of different data types are allowed),
Mutable (Can edit the values),
Do not allow duplicate values,
Unordered (The sequence in which we give the data, it is not preserved)

Sets can be declared with {} or set()
Set itself: Mutable (can modify contents).

Elements inside: Must be immutable (cannot modify).
'''

'\nSets ->\nHeterogenous (Elements of different data types are allowed),\nMutable (Can edit the values),\nDo not allow duplicate values,\nUnordered (The sequence in which we give the data, it is not preserved)\n\nSets can be declared with {} or set()\nSet itself: Mutable (can modify contents).\n\nElements inside: Must be immutable (cannot modify).\n'

In [210]:
### Creating set
S={4,5.6,True,'Ayraa'}
print(S)
print(type(S))

{True, 4, 5.6, 'Ayraa'}
<class 'set'>

In [211]:
### Creating set
S={4,5.6,True,'Ayraa'}
print(S)
print(type(S))

{True, 4, 5.6, 'Ayraa'}
<class 'set'>

In [212]:
## Property 1 is satisfied as it contains all dataform.

In [213]:
## Property 2 mutable
S={4,5.6,True,'Ayraa'}
print(S)
S[2]=False
print(S)

{True, 4, 5.6, 'Ayraa'}

TypeError: 'set' object does not support item assignment

In [257]:
## Elements inside: Must be immutable (cannot modify).

In [258]:
### property 3 ---> does allow duplicate value
S={4,5.6,True,'Ayraa',4}
print(S)

{True, 4, 5.6, 'Ayraa'}

In [259]:
## does not allow duplicate value.

In [260]:
### Property 4-->order
S={4,5.6,True,'Ayraa'}
print(S)

{True, 4, 5.6, 'Ayraa'}

In [261]:
## Sets doesnt preserve the order.

Few functions which are used for a set are:
- Add
- Update
- Remove
- Pop
- Clear

In [215]:
### indexing
S={4,5.6,True,'Ayraa'}
print(S[0])
print(S[3])

TypeError: 'set' object is not subscriptable

In [262]:
##union, intersection, and difference.

In [263]:
##Union (| or union())
##Combines all unique elements from two sets.
set1={1,2,3}
set2={3,4,5}
all_set=set1|set2
print(all_set)

{1, 2, 3, 4, 5}

In [264]:
##Union (| or union())
##Combines all unique elements from two sets.
set1={1,2,3}
set2={3,4,5}
all_set=set1.union(set2)
print(all_set)

{1, 2, 3, 4, 5}

In [265]:
##Intersection (& or intersection())
##Returns only shared elements
set1={1,2,3}
set2={3,4,5}
common_set=set1&set2
print(common_set)

{3}

In [266]:
##Intersection (& or intersection())
##Returns only shared elements
set1={1,2,3}
set2={3,4,5}
common_set=set1.intersection(set2)
print(common_set)

{3}

In [267]:
### Difference (- or difference())
##Elements in first set but not second.
set1={1,2,3}
set2={3,4,5}
diff_set=set1-set2
print(diff_set)

{1, 2}

In [268]:
### Difference (- or difference())
##Elements in first set but not second.
set1={1,2,3}
set2={3,4,5}
diff_set=set1.difference(set2)
print(diff_set)

{1, 2}

In [269]:
# add() -> used to add a single element in the set
s={4,5.6,True,'Ayraa'}
print("Actual set :", s)
s.add('Priya')
print("Updated set :", s)

Actual set : {True, 4, 5.6, 'Ayraa'}
Updated set : {True, 'Priya', 4, 5.6, 'Ayraa'}

In [270]:
#Update --> used to add more elements in the set.
s={4,5.6,True,'Ayraa'}
print("Actual set :", s)
s.update(['Priya','Sona','Peehu'])
print("Updated set :", s)

Actual set : {True, 4, 5.6, 'Ayraa'}
Updated set : {True, 'Priya', 4, 5.6, 'Ayraa', 'Sona', 'Peehu'}

In [271]:
#Remove --> used to remove a specific.
s={4,5.6,True,'Ayraa'}
print("Actual set :", s)
s.remove('Ayraa')
print("Updated set :", s)

Actual set : {True, 4, 5.6, 'Ayraa'}
Updated set : {True, 4, 5.6}

In [272]:
#POP --> used to remove an arbitrary element. We are not sure about that.
s={4,5.6,True,'Ayraa'}
print("Actual set :", s)
s.pop()
print("Updated set :", s)

Actual set : {True, 4, 5.6, 'Ayraa'}
Updated set : {4, 5.6, 'Ayraa'}

In [273]:
#POP --> used to remove an arbitrary element. We are not sure about that.
s={4,5.6,True,'Ayraa'}
print("Actual set :", s)
s.pop()
print("Updated set :", s)

Actual set : {True, 4, 5.6, 'Ayraa'}
Updated set : {4, 5.6, 'Ayraa'}

In [274]:
# clear() -> used to remove all the elements from the set
s={4,5.6,True,'Ayraa'}
print("Actual set :", s)
s.clear()
print("Updated set :", s)

Actual set : {True, 4, 5.6, 'Ayraa'}
Updated set : set()

In [275]:
'''
Dictionaries ->
{key : value} mapping pair
Heterogenous (Elements of different data types are allowed),
Mutable (Can edit the values),
Do not allow duplicate keys,
Ordered (The sequence in which we give the data, it is not preserved)

Dictionaries can be declared with {} or dict()
'''

'\nDictionaries ->\n{key : value} mapping pair\nHeterogenous (Elements of different data types are allowed),\nMutable (Can edit the values),\nDo not allow duplicate keys,\nOrdered (The sequence in which we give the data, it is not preserved)\n\nDictionaries can be declared with {} or dict()\n'

In [276]:
### Creating the dictionary
D={
    'Name':['priya','Ayraa'],
    'Age' : [45,12]
}
print(D)
print(type(D))

{'Name': ['priya', 'Ayraa'], 'Age': [45, 12]}
<class 'dict'>

In [277]:
## Accessing the key in dictionary
print(D['Name'])
print(D['Age'])

['priya', 'Ayraa']
[45, 12]

In [278]:
## Accessing the key in dictionary
print(D.keys())

dict_keys(['Name', 'Age'])

In [279]:
# Accessing the key in dictionary
print(D.values())

dict_values([['priya', 'Ayraa'], [45, 12]])

In [280]:
# Adding a new key
D['Qualification'] = ['M.Tech', 'B.Tech']
print(D)

{'Name': ['priya', 'Ayraa'], 'Age': [45, 12], 'Qualification': ['M.Tech', 'B.Tech']}

In [281]:
# Updating the values of a existing key
D['Name'] = ['Mrunay', 'Kedar']
print(D)

{'Name': ['Mrunay', 'Kedar'], 'Age': [45, 12], 'Qualification': ['M.Tech', 'B.Tech']}

In [282]:
# clear() -> removes all the elements from the dictionary
print('Initial Dictionary :\n', D)
D.clear()
print('Final Dictionary :', D)

Initial Dictionary :
 {'Name': ['Mrunay', 'Kedar'], 'Age': [45, 12], 'Qualification': ['M.Tech', 'B.Tech']}
Final Dictionary : {}

In [283]:
# adding the values of a existing key
D={
    'Name':['priya','Ayraa'],
    'Age' : [45,12]
}
print(D)
D['Qualification'] = ['MBA','MCA']
print(D)

{'Name': ['priya', 'Ayraa'], 'Age': [45, 12]}
{'Name': ['priya', 'Ayraa'], 'Age': [45, 12], 'Qualification': ['MBA', 'MCA']}

In [284]:
D['Name']=['sona','Ayraa']
print(D)

{'Name': ['sona', 'Ayraa'], 'Age': [45, 12], 'Qualification': ['MBA', 'MCA']}

In [285]:
D['Name']=['sona']
print(D)

{'Name': ['sona'], 'Age': [45, 12], 'Qualification': ['MBA', 'MCA']}

In [286]:
###Iterate through a dictionary using loops.
# Keys only
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}
for key in my_dict:
    print(key)

apple
banana
orange

In [287]:
## Values only
for value in my_dict.values():
    print(value)

1
2
3

In [288]:
## Keys and Values
for key, value in my_dict.items():
    print(key, value)

apple 1
banana 2
orange 3

In [289]:
## conditional statement-->ifelse
def odd_or_even_number(n):
  if n%2==0:
  	print('n is a even number')
  else:
  	print('n is a odd number')

In [290]:
## driver code
odd_or_even_number(10)

n is a even number

In [291]:
## driver code
odd_or_even_number(15)

n is a odd number

In [292]:
### conditional statement if else elif
a=5
if a>0:
  print('a  is positive integer')
elif a<0:
  print('a is negative integer')
else:
  print('a is equal to zero')

a  is positive integer

In [293]:
### conditional statement if else elif
a=-15
if a>0:
  print('a  is positive integer')
elif a<0:
  print('a is negative integer')
else:
  print('a is equal to zero')

a is negative integer

In [294]:
##nested ifelse statement
score = 85
if score >= 90:
    print("A")
elif score >= 80:
    if score >= 85:
        print("A-")
    else:
        print("B+")
elif score >= 70:
    print("B")
else:
    print("Below B")

A-

In [295]:
## While loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [296]:
## break and while loop
num = 0
while num < 10:
    num += 1
    if num == 5:
        break  # Exit loop
    if num % 2 == 0:
        continue  # Skip even numbers
    print(num)

1
3

In [297]:
'''
i -> iterator (temporary placeholder / variable) which loops through
all the values in the iteratable (which is list 'fruits' in this case)

In the first iteration -> i = 'apple'
In the second iteration -> i = 'banana'
In the third iteration -> i = 'cherry'
'''

"\ni -> iterator (temporary placeholder / variable) which loops through\nall the values in the iteratable (which is list 'fruits' in this case)\n\nIn the first iteration -> i = 'apple'\nIn the second iteration -> i = 'banana'\nIn the third iteration -> i = 'cherry'\n"

In [298]:
# Example ->
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [299]:
'''
i -> iterator (temporary placeholder / variable) which loops through
all the values in the iteratable (which is list 'fruits' in this case)

In the first iteration -> i = 'apple'
In the second iteration -> i = 'banana'
In the third iteration -> i = 'cherry'
'''

"\ni -> iterator (temporary placeholder / variable) which loops through\nall the values in the iteratable (which is list 'fruits' in this case)\n\nIn the first iteration -> i = 'apple'\nIn the second iteration -> i = 'banana'\nIn the third iteration -> i = 'cherry'\n"

In [300]:
# while() -> used to perform an operation uptill and unless the condition turns out False
i = 1
while i <= 5:
    print(i)
    i = i+1

1
2
3
4
5

In [301]:
## Question no 1--Write a Python program to find the largest number in a list.
def find_largest(numbers):
    if not numbers:
        return None

    largest = numbers[0]
    for num in numbers[1:]:
        if num > largest:
            largest = num
    return largest

## Driver code
my_list=[5,7,9,13]
result=find_largest(my_list)
print('largest number in list is',result)

largest number in list is 13

In [302]:
###Write a Python program to count the frequency of elements in a list.
def count_frequency(elements):
    freq = {}
    for item in elements:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    return freq

# Test
data = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
result = count_frequency(data)
print(result)  # {3: 2, 1: 2, 4: 1, 5: 3, 9: 1, 2: 1, 6: 1}

{3: 2, 1: 2, 4: 1, 5: 3, 9: 1, 2: 1, 6: 1}

In [303]:
###Create a dictionary that stores student names as keys and marks as values,
###then find the student with the highest marks
students = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 96, 'Eve': 88}

top_student = max(students, key=students.get)
print(f"Top student: {top_student} ({students[top_student]} marks)")

Top student: Diana (96 marks)

In [304]:
##Implement a while loop to print the Fibonacci series up to a given number.
def fibonacci_up_to(limit):
    if limit < 1:
        print("Please enter a number >= 1")
        return

    a, b = 0, 1
    print(f"Fibonacci series up to {limit}:")

    while b <= limit:
        print(a, end=' ')
        a, b = b, a + b  # Tuple unpacking!

    print()  # New line

# Driver cases
fibonacci_up_to(10)
fibonacci_up_to(50)

Fibonacci series up to 10:
0 1 1 2 3 5
Fibonacci series up to 50:
0 1 1 2 3 5 8 13 21

In [307]:
##Use a set to remove duplicate elements from a list.
def remove_duplicates(lst):
    return __builtins__.list(set(lst))
##driver code
lst=[1,2,2,3,4,4,5]
result=remove_duplicates(lst)
print(result)

[1, 2, 3, 4, 5]

In [308]:
#to calculate the velocity with time and speed
def calculate_velocity(speed,time):
    velocity=speed/time
    print(f"the valocity is {velocity}")

In [309]:
## Driver code
calculate_velocity(10,2)

the valocity is 5.0

In [310]:
#find a code for finding the perimeter of triangle
#user defined function
def calculating_perimeter(side1,side2,side3):
    perimeter=(side1+side2+side3)
    return perimeter

In [311]:
##Driver code
calculating_perimeter(3,4,5)

12

In [312]:
#calculating the cube of the number
def calculated_cube(number):
    cube=number**3
    print(f"the cube of {number} is {cube}")

In [313]:
##Driver code
calculated_cube(5)

the cube of 5 is 125

In [314]:
#multiplication of two number
num1 = 5
num2 = 7
product = num1 * num2
print(f"Product of {num1} and {num2} is {product}")

Product of 5 and 7 is 35

In [315]:
def calculate_rectangle_area(length, width):
  area = length * width
  return area

In [316]:
##Driver code
calculate_rectangle_area(5,7)

35

In [317]:
#to convert the 24 hour to 12 hour pattern
def convert_to_12_hour_pattern(n):
    if n>12:
        n=n-12
        print(f"the time in 12 hour pattern is {n}:00 PM")
    else:
        print(f"the time in 12 hour pattern is {n}:00 AM")

In [318]:
##Driver code
convert_to_12_hour_pattern(13)

the time in 12 hour pattern is 1:00 PM

In [319]:
import math

In [320]:
math.sqrt(36)

6.0

In [321]:
math.ceil(5.9)

6

In [322]:
math.floor(2.3)

2

In [323]:
abs(-6)

6

### Simple mathmatical operations

In [324]:
a=59
a+=1
print(a)

60

In [325]:
b=54
b-=4
print(b)

50

In [326]:
c=7
c*=2
print(c)

14

In [327]:
d=8
d/=2
print(d)

4.0

In [328]:
e=27
f=e%2
print(f)

1

## % gives remainder.

In [330]:
g=53
g//2

26

## // gives integer value.

In [ ]:
### Regular Division (/)--Always returns a float with decimal places
### Floor Division (//)--Returns the largest integer less than or equal to the result (drops decimal).

In [333]:
h=5
h=h**2
print(h)

25

### Boolean operators

#### For "and" Operator

1.    print(True and True)   # Output: True
2.    print(True and False)  # Output: False
3.    print(False and True)  # Output: False
4.    print(False and False) # Output: False

#### For "or" operator

1.    print(True or True)    # Output: True
2.    print(True or False)   # Output: True
3.    print(False or True)   # Output: True
4.    print(False or False)  # Output: False

In [ ]:
def evaluate_eligibility(age, has_degree, experience_years, project_score, is_manager):
  """
      For "and" Operator:
      print(True and True) # Output: True
      print(True and False) # Output: False
      print(False and True) # Output: False
      print(False and False) # Output: False

      For "or" operator:
      print(True or True) # Output: True
      print(True or False) # Output: True
      print(False or True) # Output: True
      print(False or False) # Output: False

      Args:

      Input:
           age: Age of candidate (int type)
           has_degree: Candidate degree if he/she has one (boolean type)
           experience_years: No. of years experience for candidate (int type)
           project_score: Project Score given by ATS system (float type)
           is_manager: Whether the candidate is a manager or not (boolean type)

      Output:
           overall_eligibility: If the candidate is eligible or not (boolean type)

  """

  # Condition 1: Basic requirements
  basic_requirements_met = (age >= 25 and has_degree)

  # Condition 2: Experience or high project score
  experience_or_score = (experience_years >= 5 or project_score > 80)

  # Condition 3: Managerial role with specific age or experience
  manager_specific_criteria = is_manager and (age > 30 or experience_years >= 10)

  # Combine all conditions for overall eligibility
  # A candidate is eligible if they meet basic requirements AND (experience/score OR manager criteria)
  overall_eligibility = basic_requirements_met and (experience_or_score or manager_specific_criteria)

  return overall_eligibility

# Test cases
print(f"Candidate 1 (Eligible): {evaluate_eligibility(28, True, 6, 75, False)}") # True: basic & experience
print(f"Candidate 2 (Eligible): {evaluate_eligibility(26, True, 3, 90, False)}") # True: basic & score
print(f"Candidate 3 (Eligible): {evaluate_eligibility(35, True, 8, 70, True)}") # True: basic & manager criteria (age > 30)
print(f"Candidate 4 (Eligible): {evaluate_eligibility(29, True, 12, 60, True)}") # True: basic & manager criteria (experience >= 10)

print(f"Candidate 5 (Not Eligible): {evaluate_eligibility(22, True, 5, 85, False)}") # False: age < 25 (fails basic)
print(f"Candidate 6 (Not Eligible): {evaluate_eligibility(30, False, 7, 70, False)}") # False: no degree (fails basic)
print(f"Candidate 7 (Not Eligible): {evaluate_eligibility(27, True, 2, 60, False)}") # False: fails experience/score and not manager
print(f"Candidate 8 (Not Eligible): {evaluate_eligibility(29, True, 4, 70, True)}")  # False: manager but fails specific age/experience

Candidate 1 (Eligible): True
Candidate 2 (Eligible): True
Candidate 3 (Eligible): True
Candidate 4 (Eligible): True
Candidate 5 (Not Eligible): False
Candidate 6 (Not Eligible): False
Candidate 7 (Not Eligible): False
Candidate 8 (Not Eligible): False

## Exception Handling

Exception handling in Python provides a structured way to deal with runtime errors, or "exceptions," that can disrupt the normal flow of a program. Instead of crashing, a program can gracefully handle these unexpected events, allowing for error logging, user feedback, or corrective actions.

In [ ]:
try:
  # Code that might raise an exception
  result = 10 / 0
except ZeroDivisionError:
  # Code to handle ZeroDivisionError
  print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
try:
  value = int("abc")
except ValueError:
  print("Invalid input: cannot convert to integer.")

Invalid input: cannot convert to integer.

In [ ]:
try:
  num = int(input("Enter a number: "))
except ValueError:
  print("That's not a valid number!")
else:
  print(f"You entered: {num}")

Enter a number: 1
You entered: 1

In [ ]:
try:
  file = open("my_file.txt", "r")
  content = file.read()
except FileNotFoundError:
  print("File not found! No such file or directory. Please check the filename or directory name.")
finally:
  if 'file' in locals() and not file.closed:
    print(f"Content in the file: {content}")
    file.close()
    print("File closed.")

File not found! No such file or directory. Please check the filename or directory name.